.counter {
  padding: 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formatCount {
  padding: 2px 10px;
  background-color: rgba(0, 0, 255, 0.808);
  color: white;
  border: 1px solid rgba(128, 128, 128, 0.596);
  margin-right: 10px;
}
.zeroCount {
  padding: 2px 10px;
  background-color: yellow;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.596);
  margin-right: 10px;
}
.increment {
  padding: 6px 15px;
  background-color: rgba(0, 128, 0, 0.342);
  margin: 0 10px;
}
.increment:hover,
.increment:visited {
  background-color: green;
  cursor: pointer;
}
.decrement {
  padding: 6px 15px;
  background-color: rgba(255, 0, 0, 0.315);
  margin: 0 10px;
}
.decrement:hover,
.decrement:visited {
  background-color: red;
  cursor: pointer;
}
.decrement-negative {
  padding: 6px 15px;
  background-color: rgba(255, 0, 0, 0);
  margin: 0 10px;
  cursor: not-allowed;
  border: 2px solid red;
}

.delete {
  padding: 6px 15px;
  background-color: rgba(255, 0, 0);
}
.reset {
  margin-top: 20px;
  width: 40%;
  padding: 8px 10px;
  background-color: rgba(0, 0, 255, 0.493);
  border: 2px solid black;
  color: white;
  font-size: 150%;
}
.reset:hover,
.reset:visited {
  background-color: blue;
  transition: 0.2s ease-in;
  cursor: pointer;
}
